* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.col-md-6 {
  border: 1px solid rgb(0, 94, 12);
}

body {
  overflow-x: hidden;
  background-image: url(assets/img/BackGround.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section-padding {
  padding: 30px 10px;
}

.img-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(auto-fit, 180px); */
  grid-auto-rows: 250px;
  grid-gap: 5px;
  grid-auto-flow: dense;
  padding: 1px 0;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.big {
  grid-area: span 2 / span 2;
}

.horigontal {
  grid-row: span 2;
}

.vertical {
  grid-column: span 2;
}

@media screen and (max-width: 540px) {
  .big {
    grid-area: span 1 / span 1;
  }

  .horigontal {
    grid-row: span 1;
  }

  .vertical {
    grid-column: span 1;
  }
}



.value-img {
  display: block;
  text-align: center;
  margin: 2em 0;
}

img {
  max-width: 100%;
}



::-webkit-scrollbar{
  width: 12px;
  background-color: hsl(222, 7%, 28%);
  border-radius: 1px;

}

::-webkit-scrollbar-thumb{
  background-color: silver;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: black;
}