.welcome {
    text-align: center;
    color: rgb(248, 73, 4);
    margin-top: 25px;
}
.welcome h1 {
    font-size: 50px;
}
    @media screen and (min-width: 620px) {
        .welcome h1 {
        font-size: 70px;
        }
    }
    @media screen and (min-width: 920px) {
        .welcome h1 {
        font-size: 80px;
        }
    }






