* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.col-md-6 {
  border: 1px solid yellow;
}

body {
  overflow-x: hidden;
}

.section-padding {
  padding: 6rem 0;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: repeat(auto-fit, 180px); */
  grid-auto-rows: 250px;
  grid-gap: 10px;
  grid-auto-flow: dense;
  padding: 10px 0;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
  color: purple;
  border: 1px solid #999;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big {
  grid-area: span 2 / span 2;
}

.horigontal {
  grid-row: span 2;
}

.vertical {
  grid-column: span 2;
}

@media screen and (max-width: 540px) {
  .big {
    grid-area: span 1 / span 1;
  }

  .horigontal {
    grid-row: span 1;
  }

  .vertical {
    grid-column: span 1;
  }
}
